// This SCSS styles will be compiled into the CSS bundle automatically.

/*! purgecss start ignore */

.sponsor-header {
    padding-top: 55px;
  }

.video-shortcode {
  max-width: 100%;
  height: auto;
}
  
/*! purgecss end ignore */
